<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="loan_department">
    <listeners>
        <listener class-name="Utils.ListnersForReport"></listener>
    </listeners>
    <parameter name="browserName" value="chrome"></parameter>
    <!--<test name="Mobile test" parallel="classes" thread-count="2">
        <classes>
            <!--<class name="WebTest.Test1"/>-->
            <!--<class name="WebTest.Test2"/>-->
            <class name="WebTest.DockerTest1"/>
            <!--<class name="WebTest.Test3"/>-->
        </classes>
    </test>--> <!-- Test -->

    <test name="Mobile test Browser">
        <classes>
            <class name="AndroidMobileTest.OpenBrowserOnAndroid"/>
        </classes>
    </test>




</suite> <!-- Suite -->